@page
@model SurfProject.Pages.EditSurfProfileModel
@{
    ViewData["Title"] = "EditSurfProfile";
}

<h2>Edit Surf Profile</h2>



<fieldset>

    <legend class="greeting">Please fill in the form - all fields are required</legend>

    <form method="post" class="form">

        <input asp-for=SurfProfile.MemberID value="@Model.SurfProfile.MemberID" hidden />

        <input asp-for=SurfProfile.SurfProfileID value="@Model.SurfProfile.SurfProfileID" hidden />

        <input asp-for=SurfProfile.Location value="@Model.SurfProfile.Location" hidden />


        <div class="form-horizontal">


            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.MinWaveHeight class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.MinWaveHeight class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.MinWaveHeight></span>

            </div>




            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.MinPeriod class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.MinPeriod class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.MinPeriod></span>

            </div>





            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.SouthWindStrength class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.SouthWindStrength class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.SouthWindStrength></span>

            </div>


            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.NorthWindStrength class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.NorthWindStrength class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.NorthWindStrength></span>

            </div>


            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.WestWindStrength class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.WestWindStrength class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.WestWindStrength></span>

            </div>


            <div class="form-group">

                <div class="row">

                    <label asp-for=SurfProfile.EastWindStrength class="col-sm-3 control-label"></label>

                    <div class="col-sm-9">
                        <input asp-for=SurfProfile.EastWindStrength class="form-control" />
                    </div>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.EastWindStrength></span>

            </div>





            <div class="form-group">

                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsMondayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsMondayChecked></label>

                </div>


                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsTuesdayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsTuesdayChecked></label>

                </div>


                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsWednesdayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsWednesdayChecked></label>

                </div>

                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsThursdayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsThursdayChecked></label>

                </div>


                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsFridayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsFridayChecked></label>

                </div>


                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsSaturdayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsSaturdayChecked></label>

                </div>


                <div class="col-sm-offset-2">

                    <input asp-for=SurfProfile.IsSundayChecked class="daychecker" />

                    <label asp-for=SurfProfile.IsSundayChecked></label>

                </div>

                <span class="col-sm-6 col-sm-offset-3" asp-validation-for=SurfProfile.IsMondayChecked></span>

            </div>



            <button type="submit">Press Me</button>


        </div>

    </form>

</fieldset>
