@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to the Surf Project</h2>

<br>

<div>Sign up <a asp-page="/SignUp">here</a> to create an account. This will allow you to customise a surf profile for a surf location
    to quickly view when good conditions are arriving at your favourite surf spot.</div>

<br>

<div>
    Already a member? Log in <a asp-page="/SignIn">here</a> to access your account
</div>

<br>

<!--A cartoon image of a surfer, which I have positioned on top of the canvas-->

<img id="animatedSurfer" src="~/images/cartoonSurfer.jpg" />



<canvas id="surfCanvas"> Error - Canvas can't work with your browser </canvas>


<footer>

    <h2>
        Reasons for Surfing
    </h2>


    <ol>

        <li>
            It is great exercise - click on the surfer above and watch how he zips from place to place
        </li>

        <li>
            The scenery is often spectacular; sea and sky mingling, deserted beaches, seabirds and seals!
        </li>

        <li>
            Surfers are generally a friendly bunch, if a little wave-possessive at times
        </li>

        <li>
            If you have an addiction, be it to coffee or something stronger, surfing can take its place,
            and it will be marginally safer for your health and well-being!
        </li>

    </ol>

</footer>

@section scripts
{<script src="~/js/JavaScript.js"></script>}

