@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Welcome to the Surf Project</h2>

<div>Already a member? Log in <a asp-page="/SignIn">here</a> to access your account
    </div>

<div>Sign up <a asp-page="/SignUp">here</a> to create an account</div>