@page
@model SurfProject.Pages.MarineAPIModel
@{
    ViewData["Title"] = "MarineAPI";
}

<h2>Check the weather for your city - Enter location code below</h2>


<form method="post">
    <label asp-for=Name></label>
    <input asp-for=Name />

    <button type="submit">Get Weather</button>
</form>


@if (Model.StringResult != null)
{

    @*<h4>The current wind is @Model.RootObjectList[0].Wind.Speed </h4>*@

    
}

else
{
    <h3>Check the weather for your city</h3>
}


