@page
@model SurfProject.Pages.MarineAPIModel
@{
    ViewData["Title"] = "MarineAPI";
}

<h2>Upcoming conditions for @Model.SurfProfile.Location</h2>


<div class="table-responsive">

    <table class="table">

        <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Wave Height</th>
                <th>Swell Direction</th>
                <th>Period</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < 9; i++)
            {
            <tr>
                <td>@Model.FilteredList[i].GetDate(Model.FilteredList[i].LocalTimestamp)</td>

                <td>@Model.FilteredList[i].Condition.Temperature</td>

                <td></td>
            </tr>
            }
        </tbody>

    </table>

</div>






