
body {
    padding-top: 50px;
    padding-bottom: 20px;
}


.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/*My added css starts here*/

.form {
    max-width: 500px;
    margin: 0 auto;
}


.form-control {
    border: 2px black;
}


.input-validation-error {
    border: 3px red;
    background: pink;
}

.field-validation-error {
    font-style: italic;
    color: darkred;
}


.container {
    border: 3px black;
    background-color: lightblue;
}

.greeting {
    text-align: center;
}


/* This is for the coloured canvas that the animated surf figure will appear on */
#surfCanvas {
    width: 900px;
    height: 500px;
    border: solid blue;
    margin: 100px;
}

/* Control the size and positioning of the surfer cartoon image */
#animatedSurfer {
    position: absolute;
    left: 650px;
    top: 450px;
    height: 200px;
    width: 250px;
}
